div.dataTables_wrapper #example {
    width: 700px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}


body{
    width: 100%;
}
.container-table{
    height: 100%;
    min-width: 600px;
}

h4 {
    font-size:1.2rem;
} 
table, p, label, .dataTables_info{
    font-size: 0.8rem;
}

